body{
    background-color: peru;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: bold;
}

img{
    position: relative;
    z-index: -2;
    width: 650px;
    height: 450px;
    box-shadow: black;
    }


h1{
    text-align: center;
    font-weight: bolder;
}

a{
    color: rgb(206, 133, 107);
    text-decoration: none;
    transition: color 0.1s;
}

a:hover {
    color: rgb(231, 218, 204);
}

.button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    border-radius: 5px;
    color:black;
    border: 0;
    position: relative;
    
}


.wrapper{
    margin: 50px auto 0px auto;
    max-width: 600px;
}

.hide {
    display: none;
}
.start{
    text-align: center;
}

.scores{
    position: absolute;
    top: 10px;
    left: 10px;

}


